nav{

    height: 20px; 
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;

}
.header h5{
    color: antiquewhite;
}

.main{
    display: flex;
    text-align:justify;
    margin: 30px;
    padding: 10px;
    position: absolute;
    top: 30px;
}
span{
    padding: 10px;
}
.image{
    display: flex;
}
.image span{
    margin: 25px;
}
.intro{
    margin: 30px;
    position: absolute;
    top: 200px;
    left: 900px;
}.main{
    display: flex;
    text-align:justify;
    margin: 30px;
    padding: 10px;
    position: absolute;
    top: 30px;
}
span{
    padding: 10px;
}
.image{
    display: flex;
}
.image span{
    margin: 25px;
}
.intro{
    margin: 30px;
    position: absolute;
    top: 200px;
    left: 900px;
}